In [1]:
import pandas as pd

In [13]:
dataframe = pd.read_csv(r'D:/pandas/dataframe.csv')

In [14]:
dataframe

  Nombre y Apellido  Edad       Pais Automovil
0              Juan    35     Mexico        No
1             Pedro    41   Honduras        Si
2             Maria    28       Peru        Si
3         Florencia    66  Argentina        No
4          Fernando    30  Argentina        Si
5             Paula    25     Espa�a        Si
6            Gimena    60   Colombia        No
7         Estefania    36      Chile        No
8          Agustina    27      Chile        No
9              Jose    34     Espa�a        Si

In [15]:
dataframe.groupby('Pais')#agrupa los registros por diferentes series

In [17]:
list(dataframe.groupby('Automovil'))#lo observamos de forma mas agradable

[('No',
    Nombre y Apellido  Edad       Pais Automovil
  0              Juan    35     Mexico        No
  3         Florencia    66  Argentina        No
  6            Gimena    60   Colombia        No
  7         Estefania    36      Chile        No
  8          Agustina    27      Chile        No),
 ('Si',
    Nombre y Apellido  Edad       Pais Automovil
  1             Pedro    41   Honduras        Si
  2             Maria    28       Peru        Si
  4          Fernando    30  Argentina        Si
  5             Paula    25     Espa�a        Si
  9              Jose    34     Espa�a        Si)]