In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv(r'D:/pandas/dataframe.csv')

In [3]:
dataframe

  Nombre y Apellido  Edad       Pais Automovil   Peso
0              Juan    35     Mexico        No  d�lar
1             Pedro    41   Honduras        Si   peso
2             Maria    28       Peru        Si   peso
3             Laura    66  Argentina        No   peso

# String

## Metodo que contiene el atributo

### contains y startswith

In [5]:
dataframe[dataframe.Pais.str.contains('Peru')]#filtra por palabra entera

  Nombre y Apellido  Edad  Pais Automovil  Peso
2             Maria    28  Peru        Si  peso

In [8]:
dataframe[dataframe.Pais.str.startswith('P')]#filtra por letra

  Nombre y Apellido  Edad  Pais Automovil  Peso
2             Maria    28  Peru        Si  peso