In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv(r'D:/pandas/dataframe.csv')

In [3]:
dataframe

  Nombre y Apellido  Edad       Pais Automovil   Peso
0              Juan    35     Mexico        No  d�lar
1             Pedro    41   Honduras        Si   peso
2             Maria    28       Peru        Si   peso
3             Laura    66  Argentina        No   peso

In [4]:
Pais = dataframe.set_index('Pais')

In [5]:
Pais

          Nombre y Apellido  Edad Automovil   Peso
Pais
Mexico                 Juan    35        No  d�lar
Honduras              Pedro    41        Si   peso
Peru                  Maria    28        Si   peso
Argentina             Laura    66        No   peso

In [9]:
Pais.loc['Argentina']#funciona con indices definidos

Nombre y Apellido    Laura
Edad                    66
Automovil               No
Peso                  peso
Name: Argentina, dtype: object

In [10]:
dataframe.loc[0]

Nombre y Apellido      Juan
Edad                     35
Pais                 Mexico
Automovil                No
Peso                  d�lar
Name: 0, dtype: object

In [11]:
dataframe.loc[dataframe.Pais == 'Peru']

  Nombre y Apellido  Edad  Pais Automovil  Peso
2             Maria    28  Peru        Si  peso