In [1]:
import pandas as pd

In [5]:
dataframe = pd.read_csv('D:/pandas/dataframe.csv')

In [6]:
dataframe

  Nombre y Apellido  Edad       Pais Automovil   Peso
0              Juan    35     Mexico        No  d�lar
1             Pedro    41   Honduras        Si   peso
2             Maria    28       Peru        Si   peso
3             Laura    66  Argentina        No   peso

In [8]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nombre y Apellido  4 non-null      object
 1   Edad               4 non-null      int64
 2   Pais               4 non-null      object
 3   Automovil          4 non-null      object
 4   Peso               4 non-null      object
dtypes: int64(1), object(4)
memory usage: 288.0+ bytes