In [1]:
import pandas as pd

In [18]:
dataframe = pd.read_csv(r'D:\pandas\dataframe.csv')

In [19]:
dataframe

  Nombre y Apellido  Edad       Pais Automovil
0              Juan    35     Mexico        No
1             Pedro    41   Honduras        Si
2             Maria    28       Peru        Si
3             Laura    66  Argentina        No

In [20]:
dataframe['Nombre y Apellido'] #de esta forma se puede utilizar si las columnas contienen espacios

0     Juan
1    Pedro
2    Maria
3    Laura
Name: Nombre y Apellido, dtype: object

In [8]:
dataframe.Pais #una sola columna es serie

0       Mexico
1     Honduras
2         Peru
3    Argentina
Name: Pais, dtype: object

In [10]:
dataframe[['Edad', 'Automovil']] #una especie de matriz para poder traer dos columnas distintas, dos columnas dataframe

   Edad Automovil
0    35        No
1    41        Si
2    28        Si
3    66        No

In [11]:
type(dataframe.Pais)

pandas.core.series.Series

In [12]:
type(dataframe[['Edad', 'Automovil']])

pandas.core.frame.DataFrame