In [2]:
import pandas as pd

In [3]:
dataframe = pd.read_csv(r'D:/pandas/dataframe.csv')

In [4]:
dataframe

  Nombre y Apellido  Edad       Pais Automovil   Peso
0              Juan    35     Mexico        No  d�lar
1             Pedro    41   Honduras        Si   peso
2             Maria    28       Peru        Si   peso
3             Laura    66  Argentina        No   peso

In [6]:
dataframe.Pais.sort_values()#ordena de forma alfabetica

3    Argentina
1     Honduras
0       Mexico
2         Peru
Name: Pais, dtype: object

In [8]:
dataframe.sort_values(by=['Nombre y Apellido', 'Edad'])# en el caso q hubieran mas datos iguales los ordenaria por edad

  Nombre y Apellido  Edad       Pais Automovil   Peso
0              Juan    35     Mexico        No  d�lar
3             Laura    66  Argentina        No   peso
2             Maria    28       Peru        Si   peso
1             Pedro    41   Honduras        Si   peso