In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv(r'D:/pandas/dataframe.csv')

In [3]:
dataframe

  Nombre y Apellido  Edad       Pais Automovil   Peso
0              Juan    35     Mexico        No  d�lar
1             Pedro    41   Honduras        Si   peso
2             Maria    28       Peru        Si   peso
3             Laura    66  Argentina        No   peso

In [4]:
Pais = dataframe.set_index('Pais')#variable para tener referencia de otro indice

In [5]:
Pais

          Nombre y Apellido  Edad Automovil   Peso
Pais
Mexico                 Juan    35        No  d�lar
Honduras              Pedro    41        Si   peso
Peru                  Maria    28        Si   peso
Argentina             Laura    66        No   peso

In [6]:
Pais.sort_index()#ordena por indice q en este caso es pais

          Nombre y Apellido  Edad Automovil   Peso
Pais
Argentina             Laura    66        No   peso
Honduras              Pedro    41        Si   peso
Mexico                 Juan    35        No  d�lar
Peru                  Maria    28        Si   peso