In [1]:
import pandas as pd

In [5]:
dataframe = pd.read_csv(r'D:\pandas\dataframe.csv')

In [6]:
dataframe

  Nombre y Apellido  Edad       Pais Automovil   Peso
0              Juan    35     Mexico        No  d�lar
1             Pedro    41   Honduras        Si   peso
2             Maria    28       Peru        Si   peso
3             Laura    66  Argentina        No   peso

In [7]:
dataframe.Edad.value_counts() #muestra las veces q se repite cada valor

41    1
66    1
35    1
28    1
Name: Edad, dtype: int64

In [12]:
dataframe.Peso.value_counts(ascending=True,dropna=False) #ascending ordena la informacion de forma ascendente o descendente, dropna muestra o no los valores nulos

d�lar    1
peso     3
Name: Peso, dtype: int64